.pricesCss {
  padding-top: 14vh;
  color: white;
}
.pricesTitle {
  background-image: url(../img/ticket.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  height: 40vh;
  padding-top: 15vh;
}
.tableEm {
  text-align: center;
}
.tableCss {
  width: 50% !important;
  text-align: center;
  left: 25%;
  position: relative;
  margin-bottom: 3vw !important;
}
.tableHead {
  color: rgb(162, 9, 9);
  font-size: 1.2vw;
}
.tableTh {
  color: white;
  font-size: 1vw;
}
.pricesTableEventCss {
  margin-bottom: 3vw;
}
