.App html {
  background-color: black;
  width: 100%;
  height: 100vh;
}
.App hr {
  border: 0.1vw solid rgb(223, 143, 2);
  width: 50%;
}

.App h1 {
  font-size: 2.2vw;
  text-transform: uppercase;
}
.App h2 {
  font-size: 2vw;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.App h3 {
  font-size: 1.5vw;
  color: rgb(223, 143, 2);
  text-transform: uppercase;
  padding-left: 1vw;
  padding-top: 1.5vw;
  padding-bottom: 1vw;
}
.App h4 {
  font-size: 1.3vw;
  color: rgb(157, 241, 157);
  padding-left: 1vw;
}
.App p {
  font-size: 1.2vw;
  color: white;
  line-height: 1.8;
  padding-left: 1vw;
}
.App b {
  color: rgb(223, 143, 2);
}
.App label {
  color: rgb(223, 143, 2);
}
.App button {
  border: 0.2vw solid rgb(162, 9, 9);
  background-color: transparent;
  width: 8vw;
  margin-bottom: 1.5vw;
}
.App button:hover {
  border: 0.2vw solid rgb(223, 143, 2);
  background-color: transparent;
}
.error {
  color: rgb(162, 9, 9) !important;
}
.success {
  color: green !important;
}
.modal-content {
  /* background-color: black !important; */
  border: 0.2vw solid rgb(223, 143, 2) !important;
}
